
.jumbotron{
  margin-bottom: ;
  background-image: url(../images/landing.jpg);
  background-position:;
  background-size:cover;
  background-repeat:;
  background-color: white;


  height: ;
}

 .up:hover{
   background-color: orange;

}
.breakfast:hover{
  background-color: white;
}

.menu-btn div {
position: absolute;
left: 100%;
top: 64%;
padding-right: 8px;
margin-top: -0.50em;
line-height: 1.2;
font-size: 30px;
font-weight: 200;
vertical-align: middle;
z-index: 99;

}
.ham{
  font-family:'Raleway', sans-serif;
  font-size: 30px;
  color:black;
}
.up{

     display: block;
     width:100%;
}
.menu-btn span {
display: block;
width: 25px;
height: 5px;
margin: 4px 0;
background: rgb(0,0,0);
z-index: 99;
color: orange;
}

.responsive-menu{
display: none;
}

.expand {
display: block !important;
}
.breakfast{
  background-image:url(../images/breakfast.jpg);
  background-size: cover;
  background-position: center;
  height: 40%;
}
.inner-text{
text-align: center;
color: white;
font-family:'Crimson Text', serif;
}
.lunch{
  background-image:url(../images/lunch.jpg);
  background-size: cover;
  height: 40%;
  width:100%;

}
.Dinner{
  background-image:url(../images/dinner.jpg);
  background-size: contain;
  height: 40%;
  width:100%;

}
.no-gutter >[class=col-md-3]{
  padding-left: 0;
  padding-right: 0;
}
.no-margin
{
  margin:0px!important;
}

img{
  display:block ;
  margin:auto;
  width; 40%;
}
p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  font-size: 40px;
}

.test-box{

  float:left;
  margin-top: 120px;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px #ccc;
  border:1px solid #grey;
  background: white;
}
.inner-text2{
  font-family:'Raleway', sans-serif;
  font-size: 30px;
  color: orange;
  text-align:center;

}
#t1 {

  color:black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

  text-align:left;
}




#drinks img{

  display: inline;
  }


#t2{
  color:black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align:left;


}
.col-md-6{
  float:left;
  width:50%;
  margin-left: 20px;


}

.col-sm-6{
  float:right;
  margin-top:140px ;

  width:50%;
}
.col-md-4{
  display: inline-block;
  margin: auto;
  width:40%;
}
.test-model{
  float: ;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #ccc;
  border:1px solid #grey;
  background: white;



}
.first{
  float: right;
}
.box-model{
  background-image: url(../images/foodsBg.jpg);
 padding:5%;
  background-color: white;
}
.col-md-6{
  float: ;
  margin-right: 0;

}
.menu{
  margin-top:5%;
  background-image: url(../images/foodsBg.jpg);
  background-position:inherit;
  margin-bottom: 10%;


}
#b2{
  color:black;
  font-size:15px;
  font-family: 'Raleway', sans-serif;

}
#b3{
  color:black;
  font-size:15px;
  font-family: 'Raleway', sans-serif;
  border-left: 1px solid lightgrey;
  padding-left: 30px;
}
.inner-text4{
  color:orange;
  font-size:30px;
  font-family: 'Raleway', sans-serif;

}
.inner-text5{
  color:black;
  font-size:30px;
  font-family: 'Raleway', sans-serif;
}
.clients{
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #ccc;
  border:1px solid #grey;



}
.clientimages img {
  display: inline;
}
.b7{
  color:white;
  font-size:30px;
  font-family: 'Raleway', sans-serif;
  text-align:center;
  padding-top: 10%;




}
.bottom{
  background-image:url(../images/subscribe.jpg);
  height:35%;
  margin-top:%;

}
.bottom2{
  background-color:darkorange;

  margin-bottom:5%;

}
.b9{
  color:white;
  font-size:30px;
  font-family: 'Raleway', sans-serif;
  text-align:center;


}
.b12{
  color:white;
  font-size:30px;
  font-family: 'Raleway', sans-serif;
  text-align:center;

}
.chicken {
  padding:30px;
  background-color: white;
}
.beef {
  padding: 30px;
  background-color: white;
}
.pizza {
  padding: 30px;
  background-color: white;
}
.nopadding{
  height:;
  margin:0;
}

.nopadding > div[class^="col-md-4"] {
  padding-left: 0;
  padding-right: 0;
}
.tablink {
  background-color:white;
  color:black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 24.57%;
}

.tablink:hover {
  color:grey;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display:none;
  padding: 10px;
  height:30% ;
  position:clip;
  overflow: hidden;
}


.drink5 img{
  height:90%;
  width:90%;

}
.drink4 img{
  height:90%;
  width:90%;

}
.drink6 img{
  height:90%;
  width:90%;
}
.chicken1 img{
  height:90%;
  width:90%;
}
.chicken2 img{
  height:90%;
  width:90%;
}
.chicken3 img{
  height:90%;
  width:90%;
}
.rice1 img{
  height:90%;
  width:90%;
}
.rice2 img{
  height:90%;
  width:90%;
}
.rice3 img{
  height:90%;
  width:90%;
}
.header{
  color:orange;
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  text-align:center;
}
#home {background-color: white;}
#news {background-color: white;}
#contact {background-color:white;}
#about {background-color:white;}

#first{
  color:black;
  font-size:50px;
  font-family: 'Raleway', sans-serif;
  text-align:center;
  background-color: darkorange;
  margin-right: 0px;
  width:100%;
  height: 20%;

}
#second{
  color:black;
  font-size:50px;
  font-family: 'Raleway', sans-serif;
  text-align:center;
  background-color: lightgrey;
  margin-top: 0px;
  width:100%;
  height:18%;

}
.tablinks{
float:right;
width:20%;
background-color: white;
border-radius: 10%;
height: 5%;
font-family: 'Raleway', sans-serif;
box-shadow: 5px 5px 5px 5px #ccc;
color: orange;
}


}
div.tab button:hover{
  background-color: orange;
}
.subscribe{
  background-color: darkorange;
  width:20%;
  margin-left:5%;

.tom{
  background-color: grey;


}
.box-models img{
  display: inline;

}
#in img{
  display: inline;
